.ant-tabs-card {
  .ant-tabs-nav {
    .ant-tabs-tab {
      border: 0;
      // opacity: 0.15;
      border-left: 2px solid rgba(42, 202, 217, 1);
    }
  }
}
.ant-tabs-tab .ant-tabs-tab-remove:hover {
  font-size: 16px;
}
